
/* --------------------------------

Colors Step - style

-------------------------------- */

.cd-product-previews {
	position: relative;
	margin: 4.5em 0;

	> li {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		opacity: 0;

		&.selected {
			position: relative;
			opacity: 1;
		}

		img {
			display: block;
			width: 100%;
			max-width: 750px;
			margin: 0 auto;
		}
	}

	@include MQ(L) {
		margin: 0 0 2em;
	}

	@media only screen and (min-width: $XL) and (min-height: 850px) {
		margin-bottom: 4em;
	}
}

.cd-product-customizer {
	text-align: center;

	li {
		position: relative;
		display: inline-block;
		margin-right: .5em;

		&:last-of-type {
			margin-right: 0;
		}

		&::before, &::after {
			/* this is used as tooltip to show color name */
			position: absolute;
			left: 50%;
			transform: translateX(-50%) translateY(-5px);
			opacity: 0;
			visibility: hidden;
			transition: opacity .2s, visibility .2s, transform .2s;
		}

		&::before {
			/* this is the tooltip triangle */
			content: '';
			bottom: 100%;
			height: 0;
			border: 8px solid transparent;
			border-top-color: rgba($color-5, .8);
			border-top-width: 10px;
			border-top-width: 10px;
		}

		&::after {
			/* this is the tooltip content */
			content: attr(data-content);
			background-color: rgba($color-5, .8);
			white-space: nowrap;
			padding: .7em 1.1em;
			border-radius: 2em;
			bottom: calc( 100% + 18px);
		}

		&:hover::before, &:hover::after {
			opacity: 1;
			visibility: visible;
			transform: translateX(-50%);
		}
	}

	a {
		/* replace text with bg color */
		display: inline-block;
		overflow: hidden;
		text-indent: 100%;
		color: transparent;
		white-space: nowrap;
		height: 30px;
		width: 30px;
		border-radius: 50%;
		border: 2px solid $color-3;
		box-shadow: 0 0 0 2px $color-5;
		transition: box-shadow .3s;
	}

	.selected a {
		box-shadow: 0 0 0 2px $color-4;
	}

	@include MQ(M) {

		li {
			margin-right: 1em;
		}

		a {
			height: 50px;
			width: 50px;
		}
	}
}

$color-winter:   #FFFFFF !default;
$color-summer:   #B3CBD2 !default;
$color-fall:     #F47835 !default;
$color-spring:   #C5637E !default;


[data-color="winter"] {
	/* used to give background color to Color options */
	background-color: $color-winter;
}
[data-color="summer"] {
	background-color: $color-summer;
}
[data-color="fall"] {
	background-color: $color-fall;
}
[data-color="spring"] {
	background-color: $color-spring;
}

[data-theme="sol-strand"] {
  background-color: $color-summer;
}
