// colors

$color-1: #24221F; // Dune
$color-Headings: #363636; // Dune
$color-legend: #5D7C89;
$color-warn: #E04D69;
$color-EcBrand:#009BC5;
$color-2: #5D7C89; // Lynch
$color-3: #ffffff; // White
$color-4: #FFB500; // Selective Yellow
$color-5: #EDEDED; // Gallery

// fonts

$primary-font: 'Lato', sans-serif !default;
$headings-font: 'Montserrat', sans-serif !default;
$primary-font: 'Pt Sans', sans-serif;
$headings-font: 'Source Sans Pro', sans-serif;
