// colors


$color-EcBlue:    #009BC5;
$color-EcRed:     #AF2127;
$color-EcTeal:    #187698;
$color-EcOrange:  #F5A623;

$color-Headings:   #363636; // Dune
$color-legend:     #5D7C89;
$color-warn:       $color-EcRed;

$color-Primary:    $color-EcBlue;
$color-Secondary:  $color-EcRed;
$color-Action:     $color-EcOrange;
$color-PrimeDark:  $color-EcTeal;

$color-1:           #24221F;
$color-2:           #5D7C89; // Lynch
$color-3:           #ffffff; // White
$color-4:           #F5A623; // Selective Yellow
$color-5:           #EDEDED; // Gallery

// fonts

$primary-font: 'Lato', sans-serif !default;
$headings-font: 'Montserrat', sans-serif !default;
$primary-font: 'Pt Sans', sans-serif;
$headings-font: 'Source Sans Pro', sans-serif;
